@import "tailwindcss";
@plugin "daisyui"{
  themes:all;
}

/* add cursor pointer to buttons by default -this is coming from tailwind docs*/
@layer base {
  button:not(:disabled){
    cursor:pointer;
  }
}